# MySQL
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_PORT=

# Redis
REDIS_HOST=
REDIS_PORT=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:

# API Service
API_SERVICE_PORT=

# Scheduler Service
SCHEDULER_SERVICE_PORT=

# Worker Service
WORKER_SERVICE_PORT=


# DLQ Alerting
DLQ_WEBHOOK_URL=url
DLQ_WEBHOOK_ENABLED=true
